# graphql-faker-server
ALLOWED_HOSTS=http://localhost:8080,
PORT=9092
SCHEMA_FILE_NAME=schema_extension
CUSTOM_HEADERS=user-agent,authorization
FORWARD_HEADERS=FALSE # TRUE
OPEN_BROWSER=FALSE # TRUE
EXTEND_URL=https://swapi-graphql.netlify.app/graphql
# AUTH_TOKEN currently required in order to use Voyager (it would be good if there was a way to add the header in the browser)
AUTH_TOKEN=

# graphql-faker-editor
VITE_API_URL=http://localhost:9092
VITE_AUTH_TOKEN=
